<h2>Sposób 1.</h2>
<div *ngIf="isName">
  Marcin
</div>

<div *ngIf="!isName">
  Dłubis
</div>

<h2>Sposób 2.</h2>
<div *ngIf="isName; else showFamilyName">
  Marcin
</div>

<ng-template #showFamilyName>
  <div >
    Dłubis
  </div>
</ng-template>

<h2>ngFor</h2>

<ul>
  <ng-container *ngIf="isName">
    <li *ngFor="let person of arrayName; let i = index;">
        {{ person | json }}
        Lp: {{ i + 1 }}
        Imię: {{ person.name }},
        Wiek: {{ person.age }}
    </li>
  </ng-container>
  <!-- pipe() -->
  <ng-container *ngFor="let person of arrayName; let i = index;">
    <div appHighlight [ngClass]="person.age >= 35 ? 'red' : 'blue'">
      Imię: {{ person.name | uppercase }},
      Pensja: {{ person.salary | currencyPln: person }},
      Data: {{ person.birthday | date: 'dd/MM/YYYY' }}
    </div>
  </ng-container>
</ul>

<app-phone></app-phone>

<app-zipcode></app-zipcode>